{% extends 'base.html' %}


















{% block title %}Call{% endblock %}
{% block content %}

<div class="flex h-screen">
    <div class="m-auto">

    
    <a href="tel:630-808-1663" type="submit" class="flex items-center justify-center mx-auto h-24 w-full sm:w-64 bg-red-500 mt-8 rounded-2xl shadow-lg font-semibold text-2xl text-white hover:bg-blue-700 hover:animate-pulse">Call Us.</a>

<p class="text-gray-700 text-center mt-5 px-5">Your emergency contact has been notified.</p>
</div>
</div>



{% endblock %}