
{% extends 'base.html' %}







{% block content %}

{% load tailwind_filters %}


<body class="flex flex-col items-center justify-center w-screen h-full bg-gray-200 text-gray-700">
	<!-- Component Start -->
	<form class="flex flex-col bg-white border rounded-2xl mx-5 px-5 shadow-xl my-10 py-5" method="POST">
    <h1 class="text-center text-xl font-extrabold mt-5 ">Create Account</h1>
	<p class="text-center text-xs text-gray-500 mb-5 ">Already have an account? <a class="underline" href="{% url 'login'%}">Login</a><p>

		{% csrf_token %}
        {{ form|crispy }}
        
		<button onclick="test()" id="registerclicker" class="flex items-center justify-center mx-auto h-12 w-full px-5 sm:w-64 bg-red-500 mt-8 rounded font-semibold text-sm text-white hover:bg-blue-700 hover:animate-pulse" type="submit">Create</button>
		<svg id="registerloader" class="text-blue-500 h-10 w-10 animate-bounce mx-auto hidden" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z" clip-rule="evenodd" />
</svg>
		
		</input>
		<div class="flex mt-6 justify-center text-xs">
		</div>
	</form>
	<!-- Component End  -->

</body>


{% endblock %}
